{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}
<br>
<div class="row">
  <div class="col-md-2" >

  </div>
  <div class="col-md-8" style="border: 9px solid #fff; padding: 20px; border-radius: 10px;">

    <form class="" action="/actualizarPlatillo/" method="post" enctype="multipart/form-data" id="nuevo_ediplatillo">
      {% csrf_token %}
      <h1><i class="fas fa-edit"></i> EDITAR PLATILLO </h1>
      <input type="hidden" name="id_eu" value="{{platillo.id_eu}}">
      <b>NOMBRE:</b>
      <input type="text" name="nombre_eu" id="nombre_eu" value="{{platillo.nombre_eu}}" placeholder="Ingrese el nombre del platillo" class="form-control">
      <br>
      <b>PRECIO:</b>
      <input type="number" name="precio_eu" id="precio_eu" value="{{platillo.precio_eu}}" placeholder="Ingrese el precio del platillo" class="form-control" step="any">
      <br>
      <b>ORIGEN</b>
      <input type="text" name="origen_eu" id="origen_eu" value="{{platillo.origen_eu}}" placeholder="Ingrese el origen del platillo" class="form-control">
      <br>
      <b>TIPO PLATILLO:</b>
      <select class="form-control" name="id_tipo" id="id_tipo" style="text-align: center;" required>
        <option value="">--Selecione el tipo de platillo--</option>
        {%for tipo in tipo%}
          <option value="{{tipo.id_eu}}">{{tipo.tipo_eu}}</option>
        {%endfor%}
      </select>
      <script type="text/javascript">
        document.getElementById('id_tipo').value="{{platillo.tipo.id_eu}}";
      </script>
      <br>
      <b>FOTOGRAFIA:</b> <br>
            {% if platillo.fotografia %}
            <img src="{{ platillo.fotografia.url }}" alt="Imagen actual" height="70px" width="100px">
            <br>
            {% endif %}
            <br>
            <input type="file" name="fotografia" id="fotografia" accept="image/*" class="form-control">
            <br>
      <center>
        <button type="submit" name="button" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'platillo' %}" class="btn btn-danger"><i class="fa fa-times-circle"></i> Cancelar</a>
      </center>
    </form>
  </div>
</div>
{%endblock%}
