{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}

<br>
<div class="row">
  <div class="col-md-2" >

  </div>
  <div class="col-md-8" style="border: 9px solid #fff; padding: 20px; border-radius: 10px;">

    <form class="" action="/actualizarReceta/" method="post" id="nuevo_receta">
      {% csrf_token %}
      <h1><i class="fas fa-edit"></i> EDITAR RECETA </h1>
      <input type="hidden" name="id_eu" value="{{receta.id_eu}}">
      <b>TIPO PLATILLO:</b>
      <select class="form-control" name="id_platillo" id="id_platillo" style="text-align: center;" required>
        <option value="">--Selecione el platillo--</option>
        {%for platillo in platillo%}
          <option value="{{platillo.id_eu}}">{{platillo.nombre_eu}}</option>
        {%endfor%}
      </select>
      <script type="text/javascript">
        document.getElementById('id_platillo').value="{{receta.platillo_eu.id_eu}}";
      </script>
      <br>
      <b>TIEMPO PREPARACION</b>
      <input type="text" name="tiempoPreparacion_eu" id="tiempoPreparacion_eu" value="{{receta.tiempoPreparacion_eu}}" placeholder="Ingrese el tiempo preparacion" class="form-control">
      <br>
      <b>DESCRIPCION:</b>
      <textarea name="descripcion_eu" id="descripcion_eu"class="form-control" placeholder="Ingrese la descripcion de preparacion" rows="3" >{{receta.descripcion_eu}}</textarea>
      <br>
      <b>SELECIONE INGREDIENTE:</b>
      <select class="form-control" name="id_ingrediente" id="id_ingrediente" style="text-align: center;" required>
        <option value="">--Selecione el ingrediente--</option>
        {%for ingredientes in ingredientes%}
          <option value="{{ingredientes.id_eu}}">{{ingredientes.nombre_eu}}</option>
        {%endfor%}
      </select>
      <script type="text/javascript">
        document.getElementById('id_ingrediente').value="{{receta.ingredientes_eu.id_eu}}";
      </script>
      <br>
      <center>
        <button type="submit" name="button" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'receta' %}" class="btn btn-danger"><i class="fa fa-times-circle"></i> Cancelar</a>
      </center>
    </form>



  </div>

</div>
{%endblock%}
