{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}
  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-2" >

      </div>
      <div class="col-md-8" style="border: 9px solid #fff; padding: 20px; border-radius: 10px;">
        <form class="" action="/actualizarProvincia/" method="post" enctype="multipart/form-data" id="nuevo_ediprovincia">
          {% csrf_token %}
          <h1><i class="fas fa-edit"></i> EDITAR PROVINCIA</h1>
          <input type="hidden" name="id_eu" value="{{provincia.id_eu}}">
          <b>NOMBRE PROVINCIA:</b>
          <input type="text" name="nombre_eu" id="nombre_ue" value="{{provincia.nombre_eu}}" placeholder="Ingrese el nombre de la provincia" class="form-control">
          <br>
          <b>REGION:</b>
          <input type="text" name="region_eu" id="region_eu" value="{{provincia.region_eu}}" placeholder="Ingrese la region" class="form-control">
          <br>
          <b>CAPITAL:</b>
          <input type="text" name="capital_eu" id="capital_eu" value="{{provincia.capital_eu}}" placeholder="Ingrese la capital" class="form-control">
          <br>
          <b>FOTOGRAFIA:</b> <br>
                {% if provincia.fotografia %}
                <img src="{{ provincia.fotografia.url }}" alt="Imagen actual" height="70px" width="100px">
                <br>
                {{ provincia.fotografia.name }}
                <br>
                {% endif %}
                <br>
                <input type="file" name="fotografia" id="fotografia" accept="image/*" class="form-control" >
                <br>
          <center>
            <button type="submit" name="button" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/" class="btn btn-danger"><i class="fa fa-times-circle"></i> Cancelar</a>
          </center>
        </form>

        </div>
      </div>

    </div>
        {%endblock%}
