{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}

<br>
<div class="row">
  <div class="col-md-2" >

  </div>
  <div class="col-md-8" style="border: 9px solid #fff; padding: 20px; border-radius: 10px;">

    <form class="" action="/actualizarDetalle/" method="post" id="nuevo_detalle">
      {% csrf_token %}
      <h1><i class="fas fa-edit"></i> EDITAR DETALLE</h1>
      <input type="hidden" name="id_eu" value="{{detalle.id_eu}}">
      <b>SELECIONE PLATILLO:</b>
      <select class="form-control" name="id_platillo" id="id_platillo" style="text-align: center;" required>
        <option value="">--Selecione el platillo--</option>
        {%for platillo in platillo%}
          <option value="{{platillo.id_eu}}">{{platillo.nombre_eu}}</option>
        {%endfor%}
      </select>
      <script type="text/javascript">
        document.getElementById('id_platillo').value="{{detalle.platillo_eu.id_eu}}";
      </script>
      <br>
      <b>FECHA PEDIDO:</b>
      <input type="date" name="fechaPedido_eu" id="fechaPedido_eu" value="{{detalle.fechaPedido_eu}}" placeholder="" class="form-control">
      <br>
      <b>CANTIDAD:</b>
      <input type="number" name="cantidad_eu" id="cantidad_eu" value="{{detalle.cantidad_eu}}" placeholder="Ingrese la cantidad" class="form-control">
      <br>
      <b>TOTAL</b>
      <input type="number" name="total_eu" id="total_eu" value="{{detalle.total_eu}}" placeholder="Ingrese el total a pagar" class="form-control" step="any">
      <br>
      <b>PEDIDO:</b>
      <select class="form-control" name="id_pedido" id="id_pedido" style="text-align: center;" required>
        <option value="">--Selecione el pedido--</option>
        {%for pedido in pedido%}
          <option value="{{pedido.id_eu}}">{{pedido.pedido_eu}}</option>
        {%endfor%}
      </select>
      <script type="text/javascript">
        document.getElementById('id_pedido').value="{{detalle.pedido_eu.id_eu}}";
      </script>
      <br>
      <center>
        <button type="submit" name="button" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'detalle' %}" class="btn btn-danger"><i class="fa fa-times-circle"></i> Cancelar</a>
      </center>
    </form>
  </div>

</div>

{%endblock%}
