{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}
<br>
<div class="row">
  <div class="col-md-2" >

  </div>
  <div class="col-md-8" style="border: 9px solid #fff; padding: 20px; border-radius: 10px;">
    <form class="" action="/actualizarTipo/" method="post" enctype="multipart/form-data" id="nuevo_editipo">
      {% csrf_token %}
      <h1><i class="fas fa-edit"></i> EDITAR ATENCION </h1>
      <input type="hidden" name="id_eu" value="{{tipo.id_eu}}">
      <b>NOMBRE:</b>
      <input type="text" name="tipo_eu" id="tipo_eu" value="{{tipo.tipo_eu}}" placeholder="Ingrese el nombre" class="form-control">
      <br>
      <b>DESCRIPCION:</b>
      <textarea name="descripcion_eu" id="descripcion_eu"class="form-control" placeholder="Ingrese la descripcion" rows="3" required>{{tipo.descripcion_eu}}</textarea>
      <br>
      <b>RECOMENDACION:</b>
      <textarea name="recomendacion_eu" id="recomendacion_eu"class="form-control" placeholder="Ingrese la recomendacion de acompañamiento" rows="3" required>{{tipo.recomendacion_eu}}</textarea>
      <br>
      <b>FOTOGRAFIA:</b> <br>
            {% if tipo.fotografia %}
            <img src="{{ tipo.fotografia.url }}" alt="Imagen actual" height="70px" width="100px">
            <br>
            {% endif %}
            <br>
            <input type="file" name="fotografia" id="fotografia" accept="image/*" class="form-control">
            <br>
      <center>
        <button type="submit" name="button" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'tipo' %}" class="btn btn-danger"><i class="fa fa-times-circle"></i> Cancelar</a>
      </center>
    </form>
  </div>
</div>

{%endblock%}
