{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}

<br>
<div class="row">
  <div class="col-md-2" >

  </div>
  <div class="col-md-8" style="border: 9px solid #fff; padding: 20px; border-radius: 10px;">
    <form class="" action="/actualizarPedido/" method="post" id="nuevo_pedido">
      {% csrf_token %}
      <h1><i class="fas fa-edit"></i> EDITAR PEDIDO </h1>
      <input type="hidden" name="id_eu" value="{{pedido.id_eu}}">
      <b>PEDIDO:</b>
      <input type="text" name="pedido_eu" id="pedido_eu" value="{{pedido.pedido_eu}}" placeholder="Ingrese el pedido" class="form-control" required>
      <br>
      <b>OBSERVACIONES:</b>
      <textarea name="observaciones_eu" id="observaciones_eu"class="form-control" placeholder="Ingrese las observaciones del pedido" rows="3" required>{{pedido.observaciones_eu}}</textarea>
      <br>
      <b>NUMERO PEDIDOS:</b>
      <input type="number" name="numeroPedidos_eu" id="numeroPedidos_eu" value="{{pedido.numeroPedidos_eu}}" placeholder="Ingrese el numero de pedidos" class="form-control" required>
      <br>
      <b>NOMBRE CLIENTE:</b>
      <select class="form-control" name="id_cliente" id="id_cliente" style="text-align: center;" required>
        <option value="">--Selecione al cliente--</option>
        {%for clientes in clientes%}
          <option value="{{clientes.id_eu}}">{{clientes.nombre_eu}}</option>
        {%endfor%}
      </select>
      <script type="text/javascript">
        document.getElementById('id_cliente').value="{{pedido.clientes_eu.id_eu}}";
      </script>
      <br>
      <center>
        <button type="submit" name="button" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'pedido' %}" class="btn btn-danger"><i class="fa fa-times-circle"></i> Cancelar</a>
      </center>
    </form>
  </div>
</div>

{%endblock%}
