{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}

<br>
<div class="row">
  <div class="col-md-2" >

  </div>
  <div class="col-md-8" style="border: 9px solid #fff; padding: 20px; border-radius: 10px;">
    <form class="" action="/actualizarIngredientes/" method="post" enctype="multipart/form-data" id="nuevo_edingrediente">
      {% csrf_token %}
      <h1><i class="fas fa-edit"></i> EDITAR INGREDIENTE </h1>
      <input type="hidden" name="id_eu" value="{{ingredientes.id_eu}}">
      <b>NOMBRE:</b>
      <input type="text" name="nombre_eu" id="nombre_eu" value="{{ingredientes.nombre_eu}}" placeholder="Ingrese el nombre" class="form-control">
      <br>
      <b>DESCRIPCION:</b>
      <textarea name="descripcion_eu" id="descripcion_eu"class="form-control" placeholder="Ingrese la descripcion" rows="3" required>{{ingredientes.descripcion_eu}}</textarea>
      <br>
      <b>FECHA EXPIRACION:</b>
      <input type="date" name="fechaExpiracion_eu" id="fechaExpiracion_eu" value="{{ingredientes.fechaExpiracion_eu}}" placeholder="Selecione la fecha de expiracion" class="form-control">
      <br>
      <b>FOTOGRAFIA:</b> <br>
            {% if ingredientes.fotografia %}
            <img src="{{ ingredientes.fotografia.url }}" alt="Imagen actual" height="70px" width="100px">
            <br>
            {% endif %}
            <br>
            <input type="file" name="fotografia" id="fotografia" accept="image/*" class="form-control">
            <br>
      <center>
        <button type="submit" name="button" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'ingrediente' %}" class="btn btn-danger"><i class="fa fa-times-circle"></i> Cancelar</a>
      </center>
    </form>
  </div>
</div>
{%endblock%}
