{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}
<br>
<div class="row">
  <div class="col-md-2" >

  </div>
  <div class="col-md-8" style="border: 9px solid #fff; padding: 20px; border-radius: 10px;">
    <form class="" action="/actualizarClientes/" method="post" id="nuevo_cliente">
      {% csrf_token %}
      <h1><i class="fas fa-edit"></i> EDITAR CLIENTE </h1>
      <input type="hidden" name="id_eu" value="{{clientes.id_eu}}">
      <b>NOMBRE:</b>
      <input type="text" name="nombre_eu" id="nombre_eu" value="{{clientes.nombre_eu}}" placeholder="Ingrese el nombre del cliente" class="form-control" required>
      <br>
      <b>APELLIDO:</b>
      <input type="text" name="apellido_eu" id="apellido_eu" value="{{clientes.apellido_eu}}" placeholder="Ingrese el apellido del cliente" class="form-control" required>
      <br>
      <b>TELEFONO:</b>
      <input type="number" name="telefono_eu" id="telefono_eu" value="{{clientes.telefono_eu}}" placeholder="Ingrese el telefono del cliente" class="form-control" required>
      <br>
      <b>DIRECCIO:</b>
      <textarea name="direccion_eu" id="direccion_eu"class="form-control" placeholder="Ingrese la direccion del cliente" rows="3" required>{{clientes.direccion_eu}}</textarea>
      <br>
      <b>CORREO ELECTRONICO:</b>
      <input type="email" name="correo_eu" id="correo_eu" value="{{clientes.correo_eu}}" placeholder="Ingrese el correo del cliente" class="form-control" required>
      <br>
      <b>PROVINCIA:</b>
      <select class="form-control" name="id_provincia" id="id_provincia" style="text-align: center;" required>
        <option value="">--Selecione la Provincia--</option>
        {%for provincia in provincia%}
          <option value="{{provincia.id_eu}}">{{provincia.nombre_eu}}</option>
        {%endfor%}
      </select>
      <script type="text/javascript">
        document.getElementById('id_provincia').value="{{clientes.provincia_eu.id_eu}}";
      </script>
      <br>
      <center>
        <button type="submit" name="button" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'cliente' %}" class="btn btn-danger"><i class="fa fa-times-circle"></i> Cancelar</a>
      </center>
    </form>
  </div>
</div>

{%endblock%}
