{% extends "./plantilla.html" %}
  {% block contenido %}
  <div class="container-fluid">
    <br>
    <div class="row">
      <div class="col-md-4" style="border: 9px solid #fff; padding: 20px; border-radius: 10px;">
        <form class="" action="/guardarTipo/" method="post" enctype="multipart/form-data" id="nuevo_tipo">
          {% csrf_token %}
          <h1><i class="fa fa-plus-circle "></i> NUEVO TIPO</h1>
          <b>NOMBRE:</b>
          <input type="text" name="tipo_eu" id="tipo_eu" value="" placeholder="Ingrese el nombre" class="form-control">
          <br>
          <b>DESCRIPCION:</b>
          <textarea name="descripcion_eu" id="descripcion_eu"class="form-control" placeholder="Ingrese la descripcion" rows="3" required></textarea>
          <br>
          <b>RECOMENDACION:</b>
          <textarea name="recomendacion_eu" id="recomendacion_eu"class="form-control" placeholder="Ingrese la recomendacion de acompañamiento" rows="3" required></textarea>
          <br>
          <b>FOTOGRAFIA:</b>
          <input type="file" name="fotografia" id="fotografia" accept="image/*" value="" class="form-control">
          <br>
          <center>
            <button type="submit" name="button" class="btn btn-primary"><i class="fa-regular fa-floppy-disk"></i> Gurdar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" name="button" class="btn btn-danger"> <i class="fa fa-times-circle"></i> Cancelar</button>
          </center>
        </form>
      </div>
      <div class="col-md-8" style="border: 9px solid #fff; padding: 20px; border-radius: 10px;">
        <div class="text-center" >
          <h1>LISTADO DE TIPO</h1>
          <!--<img src="https://img.freepik.com/vector-gratis/conjunto-iconos-perros-raza-pura-color_1284-18922.jpg" alt="" style="width: 100px; height: 100px;border-radius: 50%;">-->
        </div>
        <br><br>
        <table class="table table-striped table-bordered" id="tbl_tipo">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">NOMBRE</th>
              <th class="text-center">DESCRIPCION</th>
              <th class="text-center">RECOMENDACION</th>
              <th class="text-center">FOTOFRAFIA</th>
              <th class="text-center">ACCIONES</th>
            </tr>
          </thead>
        <tbody style="background-color: white;">
          {%for tipo in tipo %}
          <tr>
            <td>{{tipo.id_eu}}</td>
            <td>{{tipo.tipo_eu}}</td>
            <td>{{tipo.descripcion_eu}}</td>
            <td>{{tipo.recomendacion_eu}}</td>
            <td>
              {% if tipo.fotografia %}
                    <a href="{{ tipo.fotografia.url }}" target="_blank">
                        <img src="{{ tipo.fotografia.url }}" alt="" height="70px" width="100px">
                    </a>
              {% else %}
                  <p>N/A</p>
              {% endif %}
            </td>
            <td style="width: 15%;">
              <a href="/editarTipo/{{tipo.id_eu}}" class="btn btn-outline-success"><i class="fas fa-edit"></i> Editar</a>
              <a href="javascript:void(0)"onclick="eliminarTipo('/eliminarTipo/{{tipo.id_eu}}');"class="btn btn-outline-danger"><i class="fa fa-times-circle"></i> Eliminar</a>
            </td>
          </tr>
          {%endfor%}
        </tbody>
        </table>
      </div>
    </div>
  </div>

  {%endblock%}
