{% extends "./plantilla.html" %}
  {% block contenido %}
  <div class="container-fluid">
    <br>
    <div class="row">
      <div class="col-md-4" style="border: 9px solid #fff; padding: 20px; border-radius: 10px;">
        <form class="" action="/guardarPedido/" method="post" id="nuevo_pedido">
          {% csrf_token %}
          <h1><i class="fa fa-plus-circle"></i> NUEVO PEDIDO</h1>
          <b>PEDIDO:</b>
          <input type="text" name="pedido_eu" id="pedido_eu" value="" placeholder="Ingrese el pedido" class="form-control" required>
          <br>
          <b>OBSERVACIONES:</b>
          <textarea name="observaciones_eu" id="observaciones_eu"class="form-control" placeholder="Ingrese las observaciones del pedido" rows="3" required></textarea>
          <br>
          <b>NUMERO PEDIDOS:</b>
          <input type="number" name="numeroPedidos_eu" id="numeroPedidos_eu" value="" placeholder="Ingrese el numero de pedidos" class="form-control" required>
          <br>
          <b>NOMBRE CLIENTE:</b>
          <select class="form-control" name="id_cliente" id="id_cliente" style="text-align: center;" required>
            <option value="">--Selecione al cliente--</option>
            {%for clientes in clientes%}
              <option value="{{clientes.id_eu}}">{{clientes.nombre_eu}}</option>
            {%endfor%}
          </select>
          <br>
          <center>
            <button type="submit" name="button" class="btn btn-primary"><i class="fa-regular fa-floppy-disk"></i> Gurdar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" name="button" class="btn btn-danger"><i class="fa fa-times-circle"></i> Cancelar</button>
          </center>
        </form>
      </div>
      <div class="col-md-8" style="border: 9px solid #fff; padding: 20px; border-radius: 10px;">
        <div class="text-center" >
          <h1>LISTADO DE PEDIDOS</h1>
        </div>
        <br><br>
        <table class="table table-striped table-bordered"id="tbl_pedido">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">NOMBRE PEDIDO</th>
              <th class="text-center">OBSERVACIONES</th>
              <th class="text-center">NUMERO PEDIDOS</th>
              <th class="text-center">CLIENTE</th>
              <th class="text-center">ACCIONES</th>
            </tr>
          </thead>
        <tbody>
          {%for pedido in pedido%}
          <tr>
            <td>{{pedido.id_eu}}</td>
            <td>{{pedido.pedido_eu}}</td>
            <td>{{pedido.observaciones_eu}}</td>
            <td>{{pedido.numeroPedidos_eu}}</td>
            <td>{{pedido.clientes_eu.nombre_eu}}</td>
            <td style="width: 15%;">
              <a href="/editarPedido/{{pedido.id_eu}}" class="btn btn-outline-success"><i class="fas fa-edit"></i> Editar</a>
              <a href="javascript:void(0)"onclick="eliminarPedido('/eliminarPedido/{{pedido.id_eu}}');"class="btn btn-outline-danger"><i class="fa fa-times-circle"></i> Eliminar</a>
            </td>
          </tr>
          {%endfor%}
        </tbody>
        </table>
      </div>
    </div>
  </div>



  {%endblock%}
