{% extends "./plantilla.html" %}
  {% block contenido %}
  <div class="container-fluid">
    <br>
    <div class="row">
      <div class="col-md-4" style="border: 9px solid #fff; padding: 20px; border-radius: 10px;">

        <form class="" action="/guardarPlatillo/" method="post" enctype="multipart/form-data" id="nuevo_platillo">
          {% csrf_token %}
          <h1><i class="fa fa-plus-circle "></i> NUEVO PLATILLO</h1>
          <b>NOMBRE:</b>
          <input type="text" name="nombre_eu" id="nombre_eu" value="" placeholder="Ingrese el nombre del platillo" class="form-control">
          <br>
          <b>PRECIO:</b>
          <input type="number" name="precio_eu" id="precio_eu" value="" placeholder="Ingrese el precio del platillo" class="form-control" step="any">
          <br>
          <b>ORIGEN</b>
          <input type="text" name="origen_eu" id="origen_eu" value="" placeholder="Ingrese el origen del platillo" class="form-control">
          <br>
          <b>TIPO PLATILLO:</b>
          <select class="form-control" name="id_tipo" id="id_tipo" style="text-align: center;" required>
            <option value="">--Selecione el tipo de platillo--</option>
            {%for tipo in tipo%}
              <option value="{{tipo.id_eu}}">{{tipo.tipo_eu}}</option>
            {%endfor%}
          </select>
          <br>
          <b>FOTOGRAFIA:</b>
          <input type="file" name="fotografia" id="fotografia" accept="image/*" value="" class="form-control">
          <br>
          <center>
            <button type="submit" name="button" class="btn btn-primary"><i class="fa-regular fa-floppy-disk"></i> Gurdar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" name="button" class="btn btn-danger"><i class="fa fa-times-circle"></i> Cancelar</button>
          </center>
        </form>
      </div>
      <div class="col-md-8" style="border: 9px solid #fff; padding: 20px; border-radius: 10px;">
        <div class="text-center" >
          <h1>LISTADO DE PLATILLOS</h1>
        </div>
        <br><br>
        <table class="table table-striped table-bordered" id="tbl_platillo">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">NOMBRE</th>
              <th class="text-center">PRECIO</th>
              <th class="text-center">ORIGEN</th>
              <th class="text-center">TIPO PLATILLO</th>
              <th class="text-center">FOTOFRAFIA</th>
              <th class="text-center">ACCIONES</th>
            </tr>
          </thead>
        <tbody>
          {%for platillo in platillo%}
          <tr>
            <td>{{platillo.id_eu}}</td>
            <td>{{platillo.nombre_eu}}</td>
            <td>{{platillo.precio_eu}}</td>
            <td>{{platillo.origen_eu}}</td>
            <td>{{platillo.tipo.tipo_eu}}</td>
            <td>
              {% if platillo.fotografia %}
                    <a href="{{ platillo.fotografia.url }}" target="_blank">
                        <img src="{{ platillo.fotografia.url }}" alt="" height="70px" width="100px">
                    </a>
              {% else %}
                  <b>N/A</b>
              {% endif %}
            </td>
            <td style="width: 15%;">
              <a href="/editarPlatillo/{{platillo.id_eu}}" class="btn btn-outline-success"><i class="fas fa-edit"></i> Editar</a>
              <a href="javascript:void(0)"onclick="eliminarPlatillo('/eliminarPlatillo/{{platillo.id_eu}}');"class="btn btn-outline-danger"><i class="fa fa-times-circle"></i> Eliminar</a>
            </td>
          </tr>
          {%endfor%}
        </tbody>
        </table>
      </div>
    </div>
  </div>

  {%endblock%}
