{% extends "./plantilla.html" %}
  {% block contenido %}
  <div class="container-fluid">
    <br>
    <div class="row">
      <div class="col-md-4" <div class="col-md-5" style="border: 9px solid #fff; padding: 20px; border-radius: 10px;">>
        <form class="" action="/guardarClientes/" method="post" id="nuevo_cliente">
          {% csrf_token %}
          <h1><i class="fa fa-plus-circle "></i> NUEVO CLIENTE</h1>
          <b>NOMBRE:</b>
          <input type="text" name="nombre_eu" id="nombre_eu" value="" placeholder="Ingrese el nombre del cliente" class="form-control" required>
          <br>
          <b>APELLIDO:</b>
          <input type="text" name="apellido_eu" id="apellido_eu" value="" placeholder="Ingrese el apellido del cliente" class="form-control" required>
          <br>
          <b>TELEFONO:</b>
          <input type="number" name="telefono_eu" id="telefono_eu" value="" placeholder="Ingrese el telefono del cliente" class="form-control" required>
          <br>
          <b>DIRECCIO:</b>
          <textarea name="direccion_eu" id="direccion_eu"class="form-control" placeholder="Ingrese la direccion del cliente" rows="1" required></textarea>
          <br>
          <b>CORREO ELECTRONICO:</b>
          <input type="email" name="correo_eu" id="correo_eu" value="" placeholder="Ingrese el correo del cliente" class="form-control" required>
          <br>
          <b>PROVINCIA:</b>
          <select class="form-control" name="id_provincia" id="id_provincia" style="text-align: center;" required>
            <option value="">--Selecione la Provincia--</option>
            {%for provincia in provincia%}
              <option value="{{provincia.id_eu}}">{{provincia.nombre_eu}}</option>
            {%endfor%}
          </select>
          <br>
          <center>
            <button type="submit" name="button" class="btn btn-primary"><i class="fa-regular fa-floppy-disk"></i> Gurdar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" name="button" class="btn btn-danger"><i class="fa fa-times-circle"></i> Cancelar</button>
          </center>
        </form>
      </div>
      <div class="col-md-8" <div class="col-md-5" style="border: 9px solid #fff; padding: 20px; border-radius: 10px;">
        <br>
        <h1>LISTADO DE CLIENTES</h1>
        <div class="text-center" >

        </div>
        <br><br>
        <table class="table table-striped table-bordered"id="tbl_clientes">
          <thead >
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">NOMBRE</th>
              <th class="text-center">APELLIDO</th>
              <th class="text-center">TELEFONO</th>
              <th class="text-center">DIRECCIO</th>
              <th class="text-center">CORREO</th>
              <th class="text-center">PROVINCIA</th>
              <th class="text-center">ACCIONES</th>
            </tr>
          </thead>
        <tbody>
          {%for clientes in clientes%}
          <tr >
            <td>{{clientes.id_eu}}</td>
            <td>{{clientes.nombre_eu}}</td>
            <td>{{clientes.apellido_eu}}</td>
            <td>{{clientes.telefono_eu}}</td>
            <td>{{clientes.direccion_eu}}</td>
            <td>{{clientes.correo_eu}}</td>
            <td>{{clientes.provincia_eu.nombre_eu}}</td>
            <td style="width: 19%;">
              <a href="/editarClientes/{{clientes.id_eu}}" class="btn btn-outline-success"><i class="fas fa-edit"></i> Editar</a>
              <a href="javascript:void(0)"onclick="eliminarClientes('/eliminarClientes/{{clientes.id_eu}}');"class="btn btn-outline-danger"><i class="fa fa-times-circle"></i> Eliminar</a>
            </td>
          </tr>
          {%endfor%}
        </tbody>
        </table>
      </div>
    </div>
  </div>
    <script>
        // Obtén la fecha actual en formato YYYY-MM-DD
        var today = new Date();
        var formattedDate = today.getFullYear() + '-' + (today.getMonth() + 1).toString().padStart(2, '0') + '-' + today.getDate().toString().padStart(2, '0');

        // Asigna la fecha actual al campo de fecha
        document.getElementById('fechaReceta_ue').value = formattedDate;
    </script>

  {%endblock%}
