{% extends "./plantilla.html" %}
  {% block contenido %}
  <div class="container-fluid">
    <br>
    <div class="row">
      <div class="col-md-4" style="border: 9px solid #fff; padding: 20px; border-radius: 10px;">

        <form class="" action="/guardarDetalle/" method="post" id="nuevo_detalle">
          {% csrf_token %}
          <h1><i class="fa fa-plus-circle "></i> NUEVO DETALLE</h1>
          <b>SELECCIONE PLATILLO:</b>
          <select class="form-control" name="id_platillo" id="id_platillo" style="text-align: center;" required>
            <option value="">--Seleccione el platillo--</option>
            {%for platillo in platillo%}
              <option value="{{platillo.id_eu}}">{{platillo.nombre_eu}}</option>
            {%endfor%}
          </select>
          <br>
          <b>FECHA PEDIDO:</b>
          <input type="date" name="fechaPedido_eu" id="fechaPedido_eu" value="" placeholder="" class="form-control">
          <br>
          <b>CANTIDAD:</b>
          <input type="number" name="cantidad_eu" id="cantidad_eu" value="" placeholder="Ingrese la cantidad" class="form-control">
          <br>
          <b>TOTAL</b>
          <input type="number" name="total_eu" id="total_eu" value="" placeholder="Ingrese el total a pagar" class="form-control" step="any">
          <br>
          <b>PEDIDO:</b>
          <select class="form-control" name="id_pedido" id="id_pedido" style="text-align: center;" required>
            <option value="">--Selecione el pedido--</option>
            {%for pedido in pedido%}
              <option value="{{pedido.id_eu}}">{{pedido.pedido_eu}}</option>
            {%endfor%}
          </select>
          <br>
          <center>
            <button type="submit" name="button" class="btn btn-primary"><i class="fa-regular fa-floppy-disk"></i> Gurdar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" name="button" class="btn btn-danger"><i class="fa fa-times-circle"></i> Cancelar</button>
          </center>
        </form>
      </div>
      <div class="col-md-8" style="border: 9px solid #fff; padding: 20px; border-radius: 10px;">
        <div class="text-center" >
          <h1>LISTADO DE DETALLES</h1>
        </div>
        <br><br>
        <div >

        </div>
        <table class="table table-striped table-bordered"id="tbl_detalle">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">PLATILLO</th>
              <th class="text-center">FECHA PEDIDO</th>
              <th class="text-center">CANTIDAD</th>
              <th class="text-center">PEDIDO</th>
              <th class="text-center">TOTAL</th>
              <th class="text-center">ACCIONES</th>
            </tr>
          </thead>
        <tbody>
          {%for detalle in detalle%}
          <tr class="text-center">
            <td>{{detalle.id_eu}}</td>
            <td>{{detalle.platillo_eu.nombre_eu}}</td>
            <td>{{detalle.fechaPedido_eu}}</td>
            <td>{{detalle.cantidad_eu}}</td>
            <td>{{detalle.pedido_eu.pedido_eu}}</td>
            <td>{{detalle.total_eu}}</td>
            <td style="width: 15%;">
              <a href="/editarDetalle/{{detalle.id_eu}}" class="btn btn-outline-success"><i class="fas fa-edit"></i> Editar</a>
              <a href="javascript:void(0)"onclick="eliminarDetalle('/eliminarDetalle/{{detalle.id_eu}}');"class="btn btn-outline-danger"><i class="fa fa-times-circle"></i> Eliminar</a>
            </td>
          </tr>
          {%endfor%}
        </tbody>
        </table>
      </div>
    </div>
  </div>

  {%endblock%}
