{% extends "./plantilla.html" %}
  {% block contenido %}
  <div class="container-fluid">
    <br>
    <br>
    <div class="row">
      <div class="col-md-5" style="border: 9px solid #fff; padding: 20px; border-radius: 10px;">
        <form class="" action="/guardarProvincia/" method="post" enctype="multipart/form-data" id="nuevo_provincia">
          {% csrf_token %}
          <h1><i class="fa fa-plus-circle "></i> NUEVA PROVINCIA</h1>
          <b>NOMBRE PROVINCIA:</b>
          <input type="text" name="nombre_eu" id="nombre_ue" value="" placeholder="Ingrese el nombre de la provincia" class="form-control" required>
          <br>
          <b>REGION:</b>
          <input type="text" name="region_eu" id="region_eu" value="" placeholder="Ingrese la region" class="form-control" required>
          <br>
          <b>CAPITAL:</b>
          <input type="text" name="capital_eu" id="capital_eu" value="" placeholder="Ingrese la capital" class="form-control" required>
          <br>
          <b>FOTOGRAFIA:</b>
          <input type="file" name="fotografia" id="fotografia" accept="image/*" value="" class="form-control" required>
          <br>
          <center>
            <button type="submit" name="button" class="btn btn-primary"><i class="fa-regular fa-floppy-disk"></i> Gurdar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" name="button" class="btn btn-danger"><i class="fa fa-times-circle"></i> Cancelar</button>
          </center>
        </form>
      </div>
      <div class="col-md-7" style="border: 9px solid #fff; padding: 20px; border-radius: 10px;">
        <div class="text-center" >
          <h1> LISTADO DE PROVINCIAS</h1>
          <!--<img src="https://img.freepik.com/vector-gratis/conjunto-iconos-perros-raza-pura-color_1284-18922.jpg" alt="" style="width: 100px; height: 100px;border-radius: 50%;">-->
        </div>
        <br><br>
        <table class="table table-striped table-bordered" id="tbl_provincias">
          <thead>
            <tr >
              <th class="text-center">ID</th>
              <th class="text-center">NOMBRE</th>
              <th class="text-center">REGION</th>
              <th class="text-center">CAPITAL</th>
              <th class="text-center">FOTOFRAFIA</th>
              <th class="text-center">ACCIONES</th>
            </tr>
          </thead>
        <tbody>
          {%for provincia in provincia %}
          <tr>
            <td>{{provincia.id_eu}}</td>
            <td>{{provincia.nombre_eu}}</td>
            <td>{{provincia.region_eu}}</td>
            <td>{{provincia.capital_eu}}</td>
            <td style="width: 19%;">
              {% if provincia.fotografia %}
                    <a href="{{ provincia.fotografia.url }}" target="_blank">
                        <img src="{{ provincia.fotografia.url }}" alt="" height="70px" width="100px">
                    </a>
              {% else %}
                  <b>N/A</b>
              {% endif %}
            </td>
            <td style="width: 22%;">
              <a href="/editarProvincia/{{provincia.id_eu}}" class="btn btn-outline-success"><i class="fas fa-edit"></i> Editar</a>
              <a href="javascript:void(0)"onclick="eliminarProvincia('/eliminarProvincia/{{provincia.id_eu}}');"class="btn btn-outline-danger"><i class="fa fa-times-circle"></i> Eliminar</a>
            </td>
          </tr>
          {%endfor%}
        </tbody>
        </table>
      </div>
    </div>
  </div>


  {%endblock%}
