{% extends "./plantilla.html" %}
  {% block contenido %}
  <div class="container-fluid">
    <br>
    <div class="row">
      <div class="col-md-4" style="border: 9px solid #fff; padding: 20px; border-radius: 10px;">
        <form class="" action="/guardarIngredientes/" method="post" enctype="multipart/form-data" id="nuevo_ingrediente">
          {% csrf_token %}
          <h1><i class="fa fa-plus-circle "></i> NUEVO INGREDIENTE</h1>
          <b>NOMBRE:</b>
          <input type="text" name="nombre_eu" id="nombre_eu" value="" placeholder="Ingrese el nombre" class="form-control">
          <br>
          <b>DESCRIPCION:</b>
          <textarea name="descripcion_eu" id="descripcion_eu"class="form-control" placeholder="Ingrese la descripcion" rows="3" required></textarea>
          <br>
          <b>FECHA EXPIRACION:</b>
          <input type="date" name="fechaExpiracion_eu" id="fechaExpiracion_eu" value="" placeholder="Selecione la fecha de expiracion" class="form-control">
          <br>
          <b>FOTOFRAFIA:</b>
          <input type="file" name="fotografia" id="fotografia" accept="image/*" value="" class="form-control">
          <br>
          <center>
            <button type="submit" name="button" class="btn btn-primary"><i class="fa-regular fa-floppy-disk"></i> Gurdar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" name="button" class="btn btn-danger"><i class="fa fa-times-circle"></i> Cancelar</button>
          </center>
        </form>
      </div>
      <div class="col-md-8" style="border: 9px solid #fff; padding: 20px; border-radius: 10px;">
        <div class="text-center" >
          <h1>LISTADO DE INGREDIENTES</h1>
        </div>
        <br><br>
        <table class="table table-striped table-bordered"id="tbl_ingredientes">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">NOMBRE</th>
              <th class="text-center">DESCRIPCION</th>
              <th class="text-center">FECHA EXPIRACION</th>
              <th class="text-center">FOTOFRAFIA</th>
              <th class="text-center">ACCIONES</th>
            </tr>
          </thead>
        <tbody>
          {%for ingredientes in ingredientes%}
          <tr>
            <td>{{ingredientes.id_eu}}</td>
            <td>{{ingredientes.nombre_eu}}</td>
            <td>{{ingredientes.descripcion_eu}}</td>
            <td>{{ingredientes.fechaExpiracion_eu}}</td>
            <td>
              {% if ingredientes.fotografia %}
                    <a href="{{ ingredientes.fotografia.url }}" target="_blank">
                        <img src="{{ ingredientes.fotografia.url }}" alt="" height="70px" width="100px">
                    </a>
              {% else %}
                  <b>N/A</b>
              {% endif %}
            </td>
            <td style="width: 15%;">
              <a href="/editarIngredientes/{{ingredientes.id_eu}}" class="btn btn-outline-success"><i class="fas fa-edit"></i> Editar</a>
              <a href="javascript:void(0)"onclick="eliminarIngredientes('/eliminarIngredientes/{{ingredientes.id_eu}}');"class="btn btn-outline-danger"><i class="fa fa-times-circle"></i> Eliminar</a>
            </td>
          </tr>
          {%endfor%}
        </tbody>
        </table>
      </div>
    </div>
  </div>

  {%endblock%}
