{% extends "./plantilla.html" %}
  {% block contenido %}
  <div class="container-fluid">
    <br>
    <div class="row">
      <div class="col-md-4" style="border: 9px solid #fff; padding: 20px; border-radius: 10px;">
        <form class="" action="/guardarReceta/" method="post" id="nuevo_receta">
          {% csrf_token %}
          <h1><i class="fa fa-plus-circle "></i> NUEVA RECETA</h1>
          <b>TIPO PLATILLO:</b>
          <select class="form-control" name="id_platillo" id="id_platillo" style="text-align: center;" required>
            <option value="">--Selecione el platillo--</option>
            {%for platillo in platillo%}
              <option value="{{platillo.id_eu}}">{{platillo.nombre_eu}}</option>
            {%endfor%}
          </select>
          <br>
          <b>TIEMPO PREPARACION</b>
          <input type="text" name="tiempoPreparacion_eu" id="tiempoPreparacion_eu" value="" placeholder="Ingrese el tiempo preparacion" class="form-control">
          <br>
          <b>DESCRIPCION:</b>
          <textarea name="descripcion_eu" id="descripcion_eu"class="form-control" placeholder="Ingrese la descripcion de preparacion" rows="3" ></textarea>
          <br>
          <b>SELECIONE INGREDIENTE:</b>
          <select class="form-control" name="id_ingrediente" id="id_ingrediente" style="text-align: center;" required>
            <option value="">--Selecione el ingrediente--</option>
            {%for ingredientes in ingredientes%}
              <option value="{{ingredientes.id_eu}}">{{ingredientes.nombre_eu}}</option>
            {%endfor%}
          </select>
          <br>
          <center>
            <button type="submit" name="button" class="btn btn-primary"><i class="fa-regular fa-floppy-disk"></i> Gurdar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" name="button" class="btn btn-danger"><i class="fa fa-times-circle"></i> Cancelar</button>
          </center>
        </form>
      </div>
      <div class="col-md-8" style="border: 9px solid #fff; padding: 20px; border-radius: 10px;">
        <div class="text-center" >
          <h1>LISTADO DE RECETAS</h1>
        </div>
        <br><br>
        <table class="table table-striped table-bordered" id="tbl_receta">
          <thead >
            <tr >
              <th class="text-center">ID</th>
              <th class="text-center">PLATILLO</th>
              <th class="text-center">TIEMPO PREPARACION</th>
              <th class="text-center">DESCRIPCION</th>
              <th class="text-center">INGREDIENTE</th>
              <th class="text-center">ACCIONES</th>
            </tr>
          </thead>
        <tbody>
          {%for receta in receta%}
          <tr>
            <td>{{receta.id_eu}}</td>
            <td>{{receta.platillo_eu.nombre_eu}}</td>
            <td>{{receta.tiempoPreparacion_eu}}</td>
            <td>{{receta.descripcion_eu}}</td>
            <td>{{receta.ingredientes_eu.nombre_eu}}</td>
            <td style="width: 15%;">
              <a href="/editarReceta/{{receta.id_eu}}" class="btn btn-outline-success"><i class="fas fa-edit"></i> Editar</a>
              <a href="javascript:void(0)"onclick="eliminarReceta('/eliminarReceta/{{receta.id_eu}}');"class="btn btn-outline-danger"><i class="fa fa-times-circle"></i> Eliminar</a>
            </td>
          </tr>
          {%endfor%}
        </tbody>
        </table>
      </div>
    </div>
  </div>

  {%endblock%}
