table{
  border: 2px solid black !important;
  background-color: white;
  text-align: center;
  max-height: 400px;
  overflow: auto;
  display: block;
}

#tbl_clientes thead th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: #f2f2f2;
}
#tbl_tipo thead th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: #f2f2f2;
}
#tbl_provincias thead th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: #f2f2f2;
}
#tbl_pedido thead th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: #f2f2f2; /* Puedes ajustar el color de fondo según tu preferencia */
}
#tbl_platillo thead th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: #f2f2f2;
}
#tbl_receta thead th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: #f2f2f2;
}
#tbl_detalle thead th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: #f2f2f2;
}
#tbl_ingredientes thead th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: #f2f2f2;
}
th,td {
        border: 1px solid black !important;
        width: 10%;

}


label.error{
  color: red;
  font-weight: bold;
}
input.error,select.error,textarea.error{
  border: 1px solid red;
}
#tbl_detalle_info, #tbl_detalle_paginate, #tbl_detalle_filter, #tbl_detalle_paginate .paginate_button,#tbl_detalle_paginate .paginate_button.current,#tbl_detalle_paginate .paginate_button:hover {
    color: white !important;
    font-size: 20px;
}
#tbl_provincias_info, #tbl_provincias_paginate, #tbl_provincias_filter, #tbl_provincias_paginate .paginate_button, #tbl_provincias_paginate .paginate_button.current, #tbl_provincias_paginate .paginate_button:hover {
    color: white !important;
    font-size: 20px;
}
#tbl_tipo_info, #tbl_tipo_paginate, #tbl_tipo_filter, #tbl_tipo_paginate .paginate_button, #tbl_tipo_paginate .paginate_button.current, #tbl_tipo_paginate .paginate_button:hover {
    color: white !important;
    font-size: 20px;
}
#tbl_receta_info, #tbl_receta_paginate, #tbl_receta_filter, #tbl_receta_paginate .paginate_button, #tbl_receta_paginate .paginate_button.current, #tbl_receta_paginate .paginate_button:hover {
    color: white !important;
    font-size: 20px;
}
#tbl_platillo_info, #tbl_platillo_paginate, #tbl_platillo_filter, #tbl_platillo_paginate .paginate_button, #tbl_platillo_paginate .paginate_button.current, #tbl_platillo_paginate .paginate_button:hover {
    color: white !important;
    font-size: 20px;
}
#tbl_pedido_info, #tbl_pedido_paginate, #tbl_pedido_filter, #tbl_pedido_paginate .paginate_button, #tbl_pedido_paginate .paginate_button.current, #tbl_pedido_paginate .paginate_button:hover {
    color: white !important;
    font-size: 20px;
}
#tbl_ingredientes_info, #tbl_ingredientes_paginate, #tbl_ingredientes_filter, #tbl_ingredientes_paginate .paginate_button, #tbl_ingredientes_paginate .paginate_button.current, #tbl_ingredientes_paginate .paginate_button:hover {
    color: white !important;
    font-size: 20px;
}
#tbl_clientes_info, #tbl_clientes_paginate, #tbl_clientes_filter, #tbl_clientes_paginate .paginate_button, #tbl_clientes_paginate .paginate_button.current, #tbl_clientes_paginate .paginate_button:hover {
    color: white !important;
    font-size: 20px;
}
body {
  background-image: url('../imagenes/gris.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', sans-serif;

}
h1, h2, h3, h4 {
  color: white;
  text-align: center;
}
b {
  color: white;
  font-size: 1.8em;
}
.navbar-nav a {
    margin-right: 15px;
}

.navbar-nav .form-inline {
    margin-right: 10px;
}
.navbar-nav .nav-item:not(:last-child) .nav-link::after {
    content: " | ";
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}
